.form-container {
  background-color: #FFFFFF;
  width: 320px;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  padding: 48px 32px;
  margin: 60px auto 0;
}

.create-article {
  width: 910px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto 20px;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #BFBFBF;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 2px;
}

input[type=submit] {
  background-color: #1890FF;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
}

input[type=submit]:active {
  background: #FFFFFF;
  color: #1890FF;
  box-shadow: inset 0 0 0 1px #1890FF;
}

label {
  text-align: left;
  display: block;
  margin-top: 12px;
  color: #262626;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.notification {
  color: #F5222D;
  font-size: 12px;
  line-height: 22px;
  margin: 0;
}

.footer-text {
  font-size: 12px;
  line-height: 20px;
  color: #8C8C8C;
  text-align: center;
}

.footer-link {
  color: #1890FF;
}

.line {
  width: 320px;
  height: 1px;
  background-color: #E8E8E8;
  margin: 20px auto 8px;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #595959;

}

.checkbox input {
  width: 16px;
}

.body {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  margin-top: 2px;
  min-height: 168px;
  resize: none;
}

.tag {
  width: 300px;
}

.tag-container {
  display: flex;
  margin-top: 5px;
}

.delete, .add {
  margin-left: 17px;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 36px;
}

.delete {
  border: 1px solid #F5222D;
  color: #F5222D;
}

.add {
  border: 1px solid #1890FF;
  color: #1890FF;
}

.delete:active {
    background: #F5222D;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 3px #F5222D;
}

.add:active {
  background: #1890FF;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #1890FF;
}

.send {
  width: 320px;
}
