.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 18px;
  line-height: 28px;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.header-title {
  margin: 0;
  padding: 25px 0;
  color: black;
}

.buttons {
  padding: 16px 0;
}

.sign-in {
  text-decoration: none;
  color: black
}

.sign-in:active {
  color: #52C41A;
  text-decoration: underline;
}

.sign-up {
  padding: 8px 18px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 28px;
  color: #52C41A;
  background-color: #FFFFFF;
  border: 1px solid #52C41A;
  border-radius: 5px;
}

.sign-up:active {
  background: #52C41A;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #52C41A;
}
